<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CheckIn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>797</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2E540967B54A3657681A61B29EA8CF34DBA1AC6C</string>
				<key>dateExpires</key>
				<string>3/19/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L9NDR946RG.com.icare.check-In</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>L9NDR946RG</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>CheckIn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c65d2383-697a-446e-8f49-99131009439f</string>
				<key>dateExpires</key>
				<string>3/19/24</string>
				<key>name</key>
				<string>iCare App Distribution</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L9NDR946RG</string>
				<key>name</key>
				<string>iCare Medical LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
